# Fees Regressions - Quarterly

## Loading in Data

In [70]:
import pandas as pd
import numpy as np

In [2]:
excel_file_path = 'Quarterly_simplified.xlsx'

all_dfs = pd.read_excel(excel_file_path, sheet_name=None)

In [3]:
print("Worksheet names:", list(all_dfs.keys()))

Worksheet names: ['Fund_Profile', 'Fund_Profile_Merged', 'Fund_Profile_Non_Merged', 'Investment_Performance', 'Investment_Performance_Merged', 'Investment_Non_Merged', 'MySuper_Fees', 'MySuper_Fees_Merged', 'MySuper_Fees_Non_Merged', 'Admin_Fees', 'Admin_Fees_Merged', 'Admin_Fees_Non_Merged', 'Activity_Fees', 'Activity_Fees_Merged', 'Activity_Fees_Non_Merged']

In [59]:
fees = all_dfs['MySuper_Fees']
performance = all_dfs['Investment_Performance']
profile = all_dfs ['Fund_Profile']

In [91]:
unique_mysuper_name = profile['MySuper product name'].nunique()
unique_mysuper_type = profile['Fund name'].nunique()

print("Number of unique values in 'MySuper product name':", unique_mysuper_name)
print("Number of unique values in 'MySuper product type':", unique_mysuper_type)

Number of unique values in 'MySuper product name': 127
Number of unique values in 'MySuper product type': 111

In [92]:
profile

,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,ret target,tot inv,cash,fixedinc,auseq,inteq,unlieq,unspeq,prop,infra,comm,other
0,2013-09-30,AMP MySuper No.1,Generic,AMP Retirement Trust,73310248809,4.0,0.00,5.0,23.0,27.0,30.0,0.0,0.0,5.0,5.0,0.0,5.0
1,2013-09-30,AMP MySuper No.3,Generic,AMP Super Fund,78421957449,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2013-09-30,AMP MySuper No.2,Generic,AMP Superannuation Savings Trust,76514770399,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2013-09-30,Asgard Employee MySuper,Generic,ASGARD Independence Plan Division Two,90194410365,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2013-09-30,MySuper Balanced,Generic,Australian Catholic Superannuation and Retirem...,24680629023,3.5,3316.90,3.0,16.0,24.0,26.0,3.0,0.0,7.0,6.0,1.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3824,2023-03-31,Telstra Super MySuper,Generic,Telstra Superannuation Scheme,85502108833,0.0,8394.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3825,2023-03-31,Bendigo MySuper,Generic,The Bendigo Superannuation Plan,57526653420,0.0,406.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3826,2023-03-31,Balanced (MySuper),Generic,TWU Superannuation Fund,77343563307,3.4,5535.90,5.0,18.0,24.0,30.0,3.0,0.0,9.0,9.0,0.0,2.0
3827,2023-03-31,UniSuper Balanced,Generic,Unisuper,91385943850,3.8,34085.67,15.3,12.8,24.0,31.0,0.0,0.0,5.0,12.0,0.0,0.0
3828,2023-03-31,Vanguard MySuper,Generic,Vanguard Super,27923449966,0.0,237.69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
# Assuming you have two dataframes: fees and performance
merged_df = fees.merge(performance, on=['Period', 'MySuper product name', 'MySuper product type', 'Fund name', 'Fund ABN'], how='inner')

returns_df = merged_df = profile.merge(merged_df, on=['Period', 'MySuper product name', 'MySuper product type', 'Fund name', 'Fund ABN'], how='inner')

In [65]:
returns_df

,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,ret target,tot inv,cash,fixedinc,auseq,...,admcostm,totadmm,advfeem,advcostm,totadvm,quartnret,onenret,threenret,fivenret,totalfc
0,2014-12-31,AMG MySuper,Generic,AMG Super,30099320583,3.0,10.97,5.0,25.0,35.0,...,0.1,0.21,0.0,0.0,0.0,3.65,8.60,0.00,0.00,0.29
1,2014-12-31,AMP MySuper No.1,Generic,AMP Retirement Trust,73310248809,4.0,136.42,5.0,28.0,27.0,...,0.0,0.18,0.0,0.0,0.0,3.62,9.07,0.00,0.00,0.21
2,2014-12-31,Brookfield Australia MySuper,Large employer,AMP Superannuation Savings Trust,76514770399,3.5,64.04,10.0,18.0,28.0,...,0.0,0.04,0.0,0.0,0.0,4.64,8.98,0.00,0.00,0.13
3,2014-12-31,Macquarie Group MySuper,Large employer,AMP Superannuation Savings Trust,76514770399,3.0,216.06,2.5,37.5,25.0,...,0.0,0.07,0.0,0.0,0.0,1.64,6.29,0.00,0.00,0.20
4,2014-12-31,Woolworths Group MySuper,Large employer,AMP Superannuation Savings Trust,76514770399,3.5,2283.75,3.0,23.0,27.0,...,0.0,0.02,0.0,0.0,0.0,3.78,9.36,0.00,0.00,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2159,2022-09-30,Balanced,Generic,Rei Super,76641658449,3.0,1340.20,5.0,21.0,27.0,...,0.0,0.06,0.0,0.0,0.0,-1.33,-7.95,2.13,3.93,0.24
2160,2022-09-30,REST Super,Generic,Retail Employees Superannuation Trust,62653671394,2.7,54433.45,4.5,15.5,22.5,...,0.0,0.07,0.0,0.0,0.0,-0.27,-4.51,3.42,4.88,0.22
2161,2022-09-30,Balanced (MySuper),Generic,Spirit Super,74559365913,3.1,19163.96,8.0,12.0,24.0,...,0.0,0.07,0.0,0.0,0.0,-0.63,-5.56,2.99,5.04,0.20
2162,2022-09-30,Balanced (MySuper),Generic,TWU Superannuation Fund,77343563307,3.4,5266.75,5.0,17.0,24.0,...,0.0,0.10,0.0,0.0,0.0,-1.07,-5.83,3.42,4.77,0.28
2163,2022-09-30,UniSuper Balanced,Generic,Unisuper,91385943850,3.8,25076.55,12.7,15.3,24.0,...,0.0,0.05,0.0,0.0,0.0,-1.08,-7.52,3.29,5.92,0.17

## Loading in merger list

In [8]:
excel_file_path = 'Merged SF Annual Data.xlsx'

merger_file = pd.read_excel(excel_file_path, sheet_name=None)

In [9]:
print("Worksheet names:", list(merger_file.keys()))

Worksheet names: ['Annual', 'Quarterly', 'Merger List', 'Fail', 'Sheet1']

In [11]:
merger = merger_file['Quarterly']

In [12]:
merger

,Period,MySuper product name,Fund name,Fund ABN,Merger,Merged,Acquirer
0,2020-09-30,My WA Super,WA Local Government Superannuation Plan,18159499614,0,1,Aware Super
1,2013-09-30,My WA Super,WA Local Government Superannuation Plan,18159499614,0,0,NaN
2,2013-12-31,My WA Super,WA Local Government Superannuation Plan,18159499614,0,0,NaN
3,2014-03-31,My WA Super,WA Local Government Superannuation Plan,18159499614,0,0,NaN
4,2014-06-30,My WA Super,WA Local Government Superannuation Plan,18159499614,0,0,NaN
...,...,...,...,...,...,...,...
1896,2020-12-31,BALANCED,Australia Post Superannuation Scheme,42045077895,0,0,NaN
1897,2021-03-31,BALANCED,Australia Post Superannuation Scheme,42045077895,0,0,NaN
1898,2021-06-30,BALANCED,Australia Post Superannuation Scheme,42045077895,0,0,NaN
1899,2021-09-30,BALANCED,Australia Post Superannuation Scheme,42045077895,0,0,NaN
1900,2021-12-31,BALANCED,Australia Post Superannuation Scheme,42045077895,0,0,NaN

In [14]:
quarterly = pd.merge(merged_df, merger, on=['Period', 'MySuper product name', 'Fund name', 'Fund ABN'], how='left')

quarterly['Merger'] = quarterly['Merger'].fillna(0)

quarterly['Merged'] = quarterly['Merged'].fillna(0)

In [67]:
returns = pd.merge(returns_df, merger, on=['Period', 'MySuper product name', 'Fund name', 'Fund ABN'], how='left')

returns['Merger'] = returns['Merger'].fillna(0)

returns['Merged'] = returns['Merged'].fillna(0)

# Constructing Interaction Variable

## Regressions for Quarterly Data

In [18]:
quarterly.columns

Index(['Period', 'MySuper product name', 'MySuper product type', 'Fund name',
       'Fund ABN', 'IndCost', 'InvFee', 'AdmFee', 'AdvFee', 'InsFee', 'OthFee',
       'invfeem', 'invcostm', 'totinvm', 'netret', 'admfeem', 'admcostm',
       'totadmm', 'advfeem', 'advcostm', 'totadvm', 'quartnret', 'onenret',
       'threenret', 'fivenret', 'totalfc', 'Merger', 'Merged', 'Acquirer'],
      dtype='object')

In [41]:
#Investment Fees Regression - Rep Member

import statsmodels.api as sm

# Extract dependent and independent variables from df_quarterly
Y = quarterly['InvFee']
X = quarterly[['Merger', 'IndCost','onenret']]
X = sm.add_constant(X)  # Add a constant to the model (i.e., the intercept)

# Set up and run the regression model
model = sm.OLS(Y, X).fit()

# Display the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 InvFee   R-squared:                       0.539
Model:                            OLS   Adj. R-squared:                  0.538
Method:                 Least Squares   F-statistic:                     909.5
Date:                Mon, 09 Oct 2023   Prob (F-statistic):               0.00
Time:                        17:45:43   Log-Likelihood:                 255.22
No. Observations:                2338   AIC:                            -502.4
Df Residuals:                    2334   BIC:                            -479.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6078      0.008     72.057      0.000       0.591       0.624
Merger         0.0047      0.058      0.081      0.936      -0.109       0.119
IndCost       -0.6267      0.012    -52.211      0.000      -0.650      -0.603
onenret        0.0004      0.001      0.456      0.648      -0.001       0.002
==============================================================================
Omnibus:                       87.326   Durbin-Watson:                   1.470
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              120.727
Skew:                           0.376   Prob(JB):                     6.09e-27
Kurtosis:                       3.821   Cond. No.                         119.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [94]:
#Administration Fees Regression - Rep Member

import statsmodels.api as sm

# Extract dependent and independent variables from df_quarterly
Y = quarterly['AdmFee']
X = quarterly[['Merger', 'IndCost', 'onenret']]
X = sm.add_constant(X)  # Add a constant to the model (i.e., the intercept)

# Set up and run the regression model
model = sm.OLS(Y, X).fit()

# Display the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 AdmFee   R-squared:                       0.135
Model:                            OLS   Adj. R-squared:                  0.134
Method:                 Least Squares   F-statistic:                     121.1
Date:                Wed, 25 Oct 2023   Prob (F-statistic):           6.47e-73
Time:                        18:14:05   Log-Likelihood:                 632.43
No. Observations:                2338   AIC:                            -1257.
Df Residuals:                    2334   BIC:                            -1234.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.4155      0.007     57.885      0.000       0.401       0.430
Merger        -0.0386      0.050     -0.780      0.436      -0.136       0.059
IndCost       -0.1928      0.010    -18.874      0.000      -0.213      -0.173
onenret       -0.0013      0.001     -2.045      0.041      -0.003    -5.5e-05
==============================================================================
Omnibus:                      565.736   Durbin-Watson:                   1.782
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1252.517
Skew:                           1.366   Prob(JB):                    1.05e-272
Kurtosis:                       5.322   Cond. No.                         119.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [51]:
#Advice Fees Regression - Rep Member

import statsmodels.api as sm

# Extract dependent and independent variables from df_quarterly
Y = quarterly['InvFee']
X = quarterly[['Merger', 'IndCost', 'onenret']]
X = sm.add_constant(X)  # Add a constant to the model (i.e., the intercept)

# Set up and run the regression model
model = sm.OLS(Y, X).fit()

# Display the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 InvFee   R-squared:                       0.539
Model:                            OLS   Adj. R-squared:                  0.538
Method:                 Least Squares   F-statistic:                     909.5
Date:                Wed, 11 Oct 2023   Prob (F-statistic):               0.00
Time:                        19:12:44   Log-Likelihood:                 255.22
No. Observations:                2338   AIC:                            -502.4
Df Residuals:                    2334   BIC:                            -479.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6078      0.008     72.057      0.000       0.591       0.624
Merger         0.0047      0.058      0.081      0.936      -0.109       0.119
IndCost       -0.6267      0.012    -52.211      0.000      -0.650      -0.603
onenret        0.0004      0.001      0.456      0.648      -0.001       0.002
==============================================================================
Omnibus:                       87.326   Durbin-Watson:                   1.470
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              120.727
Skew:                           0.376   Prob(JB):                     6.09e-27
Kurtosis:                       3.821   Cond. No.                         119.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Returns Regression

In [74]:
returns.columns

Index(['Period', 'MySuper product name', 'MySuper product type', 'Fund name',
       'Fund ABN', 'ret target', 'tot inv', 'cash', 'fixedinc', 'auseq',
       'inteq', 'unlieq', 'unspeq', 'prop', 'infra', 'comm', 'other',
       'IndCost', 'InvFee', 'AdmFee', 'AdvFee', 'InsFee', 'OthFee', 'invfeem',
       'invcostm', 'totinvm', 'netret', 'admfeem', 'admcostm', 'totadmm',
       'advfeem', 'advcostm', 'totadvm', 'quartnret', 'onenret', 'threenret',
       'fivenret', 'totalfc', 'Merger', 'Merged', 'Acquirer', 'Log_TotInv'],
      dtype='object')

In [78]:
returns['Log_TotInv'] = np.log(returns['tot inv'] + 1)
returns['Log_totfc'] = np.log(returns['totalfc'] + 1)

In [88]:
# Extract dependent and independent variables from df_quarterly
Y = returns['onenret']
X = returns[['Merger', 'Log_TotInv', 'cash']]
X = sm.add_constant(X)  # Add a constant to the model (i.e., the intercept)

# Set up and run the regression model
model = sm.OLS(Y, X).fit()

# Display the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                onenret   R-squared:                       0.015
Model:                            OLS   Adj. R-squared:                  0.014
Method:                 Least Squares   F-statistic:                     11.87
Date:                Wed, 18 Oct 2023   Prob (F-statistic):           1.03e-07
Time:                        18:12:49   Log-Likelihood:                -7422.4
No. Observations:                2338   AIC:                         1.485e+04
Df Residuals:                    2334   BIC:                         1.488e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.3318      0.524     10.183      0.000       4.305       6.359
Merger         0.2457      1.560      0.158      0.875      -2.813       3.305
Log_TotInv     0.2857      0.060      4.761      0.000       0.168       0.403
cash          -0.0762      0.035     -2.206      0.028      -0.144      -0.008
==============================================================================
Omnibus:                        8.653   Durbin-Watson:                   0.188
Prob(Omnibus):                  0.013   Jarque-Bera (JB):                8.611
Skew:                          -0.146   Prob(JB):                       0.0135
Kurtosis:                       3.058   Cond. No.                         120.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.